{% extends "base.html" %}
{% block navbar %}
<li class="nav-item">
<a class="nav-link" href="/">Home</a>
</li>
<li class="nav-item active">
<a class="nav-link" href="">Login<span class="sr-only">(current)</span></a>
</li>
<li class="nav-item">
<a class="nav-link" href="signup">Sign up</a>
</li>
{% endblock %}

{% block heading %}Login{% endblock %}

{% block body %}

<!-- duplicating the input fields in form -->
<script src="http://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<form method="POST" action="/signup" style="padding: 2%;">
    {{ form.hidden_tag() }}

    <div class="form-group">
      <label for="email">Email</label>
      {{ form.email(class_='form-control') }}
    </div>

    <div class="form-group">
        <label for="psd">Password</label>
        {{ form.password(class_="form-control") }}
    </div>
    <br>

    <!-- Submit Button -->
    <input class="btn btn-primary" type="submit" value="Submit" style="text-align: center; text-align: center;">
</form>
{% endblock %}